body::-webkit-scrollbar {
    display: none;
}

#navbar {
    position: absolute;
    width: calc(1/3 * 100vw);
    height: calc(100vh - 85px);
    transition: left .5s;
    z-index: 2;
}

#navbarControl {
    position: absolute;
    top: 0;
    left: calc(1/3 * 100vw);
    transition: left .5s;
    z-index: 2;
}

#imageListHeader {
    position: sticky;
    width: inherit;
    height: 40px;
    background-color: #1e2124;
}

#imageList {
    height: calc(100vh - 95px);
    width: inherit;
    background-color: #F5F5F5;
    overflow-y: scroll;
}

#imageList::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

#imageList::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

#imageList::-webkit-scrollbar-thumb {
    background-color: #7289da;
}

#map {
    position: absolute;
    width: 100vw;
    height: calc(100vh - 55px);
    z-index: 1;
}

#footer {
    position: fixed;
    background-color: #1e2124;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 3;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}